// Component CSS
@import "./../../themes/variables";

$color-border: #dee2e6;

.card-collapsible {
  border-bottom: 1px solid $color-border;

  .card-header {
    i {
      float: right;
      width: 16px;
      height: 16px;
      margin-top: 4px;
    }

    label {
      margin-bottom: 0px;

      &.sub-text {
        font-style: italic;
        display: block;
      }
    }
  }

  .card-body {
    padding: 0.5rem 1.25rem;
  }

  .card-header {
    background-color: transparent;
    border: 0;
    font-weight: 600;
  }

  .sub-text {
    font-size: 0.75rem;
    color: $gray-600;
  }
}
