// Bootstrap Overrides

// Colors :: Gray
$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-250: #f0f0f0 !default;
$gray-300: #dee2e6 !default;
$gray-350: #d9d9d9 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #36454f !default;
$black: #000 !default;

// Colors :: Theme
$blue: #0d6efd !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #d63384 !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #198754 !default;
$teal: #20c997 !default;
$cyan: #0dcaf0 !default;
$alice-blue: #f8f9fa !default;

// Additional Colors
$primary: #3b76f6;
$shade-lightness: 0.9; // adjust this value to change the shade

$primary-color-shade: hsl(
  hue($primary),
  saturation($primary),
  $shade-lightness * 100%
);
$light-blue: #d4daf9;
$topbar-color: #f5f5f5;
$footer-color: #262b3c;
$scrollbar-bg-color: #f5f5f5;
$scrollbar-box-shadow-color: rgba(0, 0, 0, 0.3);
$page-header-shadow-color: rgba(25, 104, 252, 0.2);
$ultramarine-blue: #3b76f6;

// Body :: Font
$font-family-base: 'Mulish', 'Roboto', 'Helvetica', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$font-size-base: 0.875rem;
$font-weight-medium: 500;

// Body :: Box Shadow
$box-shadow-lg: 0 0 2rem 0.5rem rgba($gray-500, 0.175);
$box-shadow: 0 0 1rem 0.25rem rgba($gray-500, 0.15);
$box-shadow-sm: 0 0 0.5rem 0.125rem rgba($gray-500, 0.075);

// Scrollbar
$scrollbar-box-shadow: $scrollbar-box-shadow-color;
$scrollbar-bg: $scrollbar-bg-color;

// Form :: input
$input-btn-padding-x: 2rem;
$input-btn-padding-x-sm: 1.25rem;
$input-btn-padding-x-lg: 2.5rem;
$input-padding-x: 0.75rem;
$input-padding-x-sm: 0.5rem;
$input-padding-x-lg: 1rem;
$grid-gutter-width: 2rem !default;

// Breadcrumb
$breadcrumb-divider: quote('>');

// Button variables..
//-----------------------------------------------------------------------------
$btn-border-radius: 4px;
$btn-label-font-size: 14px;
$btn-transition: all 0.3s ease 0s;

// Additional Variables
// ----------------------------------------------------------------------------
$topbar-height: 4rem;
$topbar-zindex: 2000;
$sidebar-left-width: 18rem;
$sidebar-right-width: 18rem;
$sidebar-left-width-collapse: 5.5rem;
$sidebar-right-width-collapse: 0rem;
$side-panel-width: 5rem;
$header-height: 70px;
$footer-height: 60px;
$collapse-margin-left: 5.5rem;
$main-header-height: 4rem;
$main-footer-height: 0rem;
$zindex-main-header: 2000;
$navbar-padding-x: #{$grid-gutter-width / 2};
$navbar-padding-y: 0.25rem;
$sidebar-width: 15rem;
$content-padding-x: #{$grid-gutter-width / 2};
$content-padding-y: 1.5rem;
$page-header-shadow: $page-header-shadow-color;
