// Bootstrap Overrides

// Check and Remove if noe needed
$body-bg-alt: #f3f7ff;
$color-border: #dee2e6;

// Main Theme
$primary: #1650cf !default;
$secondary: #e9ebf1  !default;
$primary-subtle: #eff8ff;

// Colors :: Theme
$box-shadow-color: #adb5bd !default;
$white: #ffffff !default;
$black: #18181c !default;
$active: $primary !default;
$hover: $primary !default;
$danger: #e73f3f !default;
$success: #52a86e !default;
$input-selected: #2f68f5;
$error: #fceaea;
$warning: #e49614 !default;

//
$gray-100: #e5e5e5 !default;
$gray-200: #a7a7a7 !default;
$gray-300: #848c93 !default;

// Additional Colors
$shade-lightness: 0.9; // adjust this value to change the shade

$primary-color-shade: hsl(hue($primary), saturation($primary), $shade-lightness * 100%);
$scrollbar-bg-color: #f5f5f5;
$scrollbar-box-shadow-color: rgba(0, 0, 0, 0.3);
$page-header-shadow-color: rgba(25, 104, 252, 0.2);

// Body :: Font
$font-family-base: "Inter", serif;
$font-size-base: 0.87rem;
$font-size-sm: 0.75rem;

// Body :: Font Weight
$semi-bold: 600;
$extra-bold: 800;

// Body :: Box Shadow
$box-shadow: 0 0 1rem 0.25rem rgba($box-shadow-color, 0.15);
$box-shadow-sm: 0 0 0.5rem 0.13rem rgba($box-shadow-color, 0.075);

// Body :: Headings (font size)
$h1-font-size: 2.5rem !default;
$h2-font-size: 2rem !default;
$h3-font-size: 1.5rem !default;
$h4-font-size: 1rem !default;
$h5-font-size: 0.75rem !default;
$h6-font-size: $font-size-base !default;

// Scrollbar
$scrollbar-box-shadow: $scrollbar-box-shadow-color;
$scrollbar-bg: $scrollbar-bg-color;

// Form :: input
$input-border: #d5d7da;
$input-placeholder: #7f7f7f;
$input-disabled: #fafafa;
$grid-gutter-width: 1.25rem !default;
$label-light: #989898;

// Breadcrumb
$breadcrumb-divider: quote(">");

// Button variables..
//-----------------------------------------------------------------------------
$btn-width: 6.87rem;
$btn-font-size: 0.75rem !default;
$btn-border-radius: 0.5rem !default;

$btn-width-sm: 6.62rem;
$btn-font-size-sm: 0.87rem !default;
$btn-border-radius-sm: 0.5rem !default;

$btn-width-lg: 7.81rem;
$btn-font-size-lg: 1rem !default;
$btn-border-radius-lg: 0.5rem !default;

$btn-width-xs: 3rem;

$btn-transition: all 0.3s ease 0s;
$btn-disabled-opacity: 0.4 !default;

// Table variables..
//-----------------------------------------------------------------------------
$table-header-color: #f5f7f9;
$table-header-border-left-radius: 0.5rem;
$table-header-border-right-radius: 0.5rem;
$table-border: 0rem;
$table-hover: #f4f4f4;

// Page Content
$content-wrapper-spacing: 1rem;
$page-content-spacing: 3rem;
$page-content-border-color: #eceef6;
$page-content-border-radius: 12px;
$page-content-background: #f4f4f4;

// Topbar
// ----------------------------------------------------------------------------
// Topbar :: Common
$topbar-zindex: 1000;
$topbar-height: 4.5rem;

// Topbar :: Platform
$topbar-platform-color: $white;

// Topbar :: Audit
$topbar-audit-color: $white;

// Topbar :: Industry
$topbar-industry-color: $white;

// Sidebar
// ----------------------------------------------------------------------------
// Sidebar :: Common
$sidebar-menu-height: 2.5rem;
$sidebar-left-width: 17.5rem;
$sidebar-right-width: 12.5rem;
$sidebar-left-width-collapse: 4.5rem;
$sidebar-right-width-collapse: 0rem;
$header-height: 4.5rem;
$footer-height: 0rem;
$page-header-shadow: $page-header-shadow-color;

// Sidebar :: Platform
$sidebar-platform-color: #222124;
$sidebar-platform-footer-color: #222124;
$sidebar-platform-left-menu-hover: #444444;
$sidebar-platform-text-color: #a7a7a7;
$sidebar-platform-selected-text-color: #ffffff;
$sidebar-platform-selected-bg-color: #444444;
$sidebar-platform-selected-menu-border-color: $primary;

// Sidebar :: Audit
$sidebar-audit-color: #222124;
$sidebar-audit-footer-color: #222124;
$sidebar-audit-left-menu-hover: #444444;
$sidebar-audit-text-color: #a7a7a7;
$sidebar-audit-selected-text-color: #ffffff;
$sidebar-audit-selected-bg-color: #444444;
$sidebar-audit-selected-menu-border-color: $primary;

// Sidebar :: Industry
$sidebar-industry-color: #222124;
$sidebar-industry-footer-color: #222124;
$sidebar-industry-left-menu-hover: #444444;
$sidebar-industry-text-color: #a7a7a7;
$sidebar-industry-selected-text-color: #ffffff;
$sidebar-industry-selected-bg-color: #444444;
$sidebar-industry-selected-menu-border-color: $primary;

// Antd Card
$antd-card-content-spacing: 1rem;
$antd-card-header-font-size: 1rem;
$antd-card-border-radius: $page-content-border-radius;
