html,
body {
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
}

// Table ---------------------------------------------
table {
  $table-border: 1px solid
    darken(
      $color: $alice-blue,
      $amount: 5%,
    ) !important;

  thead {
    border: $table-border;
  }

  tr {
    border-left: $table-border;
    border-right: $table-border;

    &:last-child {
      border-bottom: $table-border;
    }
  }

  th {
    background-color: $alice-blue !important;
    font-weight: 600 !important;
  }

  td {
    border-top: $table-border;
  }

  .sub-text {
    font-size: 0.75rem;
    color: $gray-600;
    display: block;
  }

  .tr-sec-header {
    font-weight: bold;
    text-align: center;
    td {
      background-color: $gray-100 !important;
    }
  }
}

.table-truncate {
  max-width: 10rem;
}

.table-compact {
  th {
    padding: 4px;
  }
  td {
    padding: 0px;
  }

  .form-error {
    border: 1px double $red !important;
  }

  .selected {
    border: 1px double $blue !important;
  }
}

// Pagination -----------------------------------------------
.pagination-cont {
  margin-top: 12px;
  margin-bottom: 8px;
}

// Input
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

// Buttons and Button Container ------------------------------
.btn-primary {
  color: white !important;
}

.btn-cont {
  button,
  .btn {
    margin: 2px 4px;

    &:first-child {
      margin-left: 0px;
    }
  }
}

// Forms (uncomment if needed) ------------------------------
// .form-group {
//   margin-bottom: 1rem;
// }

// .form-readonly {
//   input,
//   select,
//   textarea {
//     border: 1px solid transparent;
//     background-color: transparent;
//     padding-left: 0;
//   }

//   input[disabled],
//   select[disabled],
//   textarea[disabled] {
//     background-color: transparent;
//     resize: none;
//   }
// }

// Card style (uncomment if needed) --------------------------------
// .card.card-inline {
//   display: inline-block;
//   margin: 10px 10px;

//   &:first-child {
//     margin-left: 0px;
//   }

//   &:last-child {
//     margin-right: 0px;
//   }
// }

// Dropdown (uncomment if needed) -------------------------------
// .dropdown {
//   .menu {
//     width: 100%;
//     border-radius: 5px !important;
//   }

//   .button {
//     display: flex;
//     width: 100%;
//     height: 100%;
//     justify-content: space-between;
//     align-items: center;
//     background-color: $white;
//   }

//   .text {
//     white-space: normal;
//     color: $gray-900;
//     margin-right: 5px;

//     &.default {
//       color: $gray-600;
//     }
//   }

//   .dropdown-menu {
//     box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
//     animation-name: DropDownSlide;
//     animation-duration: 0.3s;
//     animation-fill-mode: both;
//     margin-top: 55px !important;
//     position: absolute;
//     z-index: 1000;
//   }
// }

// @keyframes DropDownSlide {
//   100% {
//     transform: translateY(0);
//   }
//   0% {
//     transform: translateY(10px);
//   }
// }

// Utilities --------------------------------------------------------
.cursor-pointer {
  cursor: pointer;
}

.font-bold {
  font-weight: 600;
}

// for truncate after 2-lines
.text-truncate-2 {
  -webkit-line-clamp: 2;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// for truncate after 3-lines
.text-truncate-3 {
  -webkit-line-clamp: 3;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

// Modal ------------------------------------------------------
.modal-backdrop {
  z-index: 2040;
}

.modal {
  z-index: 2050;
}

// Table Hover Styles
.list-table-hover {
  tr:hover {
    svg {
      stroke: $ultramarine-blue;
    }
  }
  svg {
    stroke: $gray-700;
  }
}

// Buttons and Button Container ------------------------------
.btn-default {
  font-size: $btn-label-font-size;
  border-radius: $btn-border-radius;
  transition: $btn-transition;
}

.btn-outline-custom {
  @extend .btn-default;
}

.btn-outline-custom:hover {
  color: $blue;
  background-color: $white;
  border-color: $blue;
}
